html {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: 8rem; 
    padding-bottom: 7%;
}

header {
    position: fixed ;
    background-color: #CAD5BE;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
    box-sizing: border-box;
    gap: 1rem;
}

header img {
    position: absolute;
    left: 1rem;
    height:70%;
    width: auto;
    padding-left: 2%;
}

header h1 {
    text-align: center;
    font-size: 250%;
    color: #21432D;
    
}

h2 {
    font-size: 8rem;
}

p {
    font-size: 120%;
    margin: 2rem;
}

em {
    font-style: bold;
    color: #E06823;
}

.textos {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    font-size: 150%;
    justify-items: flex-start;
}

.saldo {
    font-weight: bold;
    color: #63783D;
}

.limite {
    font-weight: bold;
    color: #63783D;
}

.botao {
    display: inline-block;
    padding: 1rem;
    background-color: #CAD5BE;
    border-radius: 1rem;
    text-align: center;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: #939f87;
}

.botoes-lado-a-lado {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    gap: 2rem;
}

img[alt="icone de pendências"],
img[alt="icone de organizar"] {
    width: 50%; 
    height: auto;
}

img[alt="gráfico das estatísticas por categorias"] {
    border: none;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    gap: 1rem;
    width: 100%;
    height: 12%;
    right: auto;
    flex-wrap: nowrap;
    background-color: #CAD5BE;
}

footer .botao {
    border: none;
}

footer img {
    width: auto;
    height: 90% ;
}

.icones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.icones li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones img {
    width: 80px;
    height: auto;
    transition: transform 0.2s;
}


h2.atencao {
    color: #E06823;
    font-size: 200%;
    margin: 0;
}