html {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 6rem; 
    margin-bottom: 8rem;
    
}

header {
    position: fixed;
    background-color: #CAD5BE;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 12%;
    box-sizing: border-box;
    top: 0;
}

header img {
    height: 3rem;
    width: auto;
    margin-right: 2rem;
}

header h1 {
    flex: 1;
    text-align: center;
    font-size: 205%;
    color: #21432D;
    margin: 0;
}

h2 {
    font-size: 8rem;
}

p {
    align-items: center;
    font-size: 120%;

}

em {
    font-weight: bold;
    color: #E06823;
}

.textos {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    font-size: 1rem;
    justify-items: flex-start;
}

.saldo {
    font-weight: bold;
    color: #63783D;
}

.limite {
    font-weight: bold;
    color: #63783D;
}

.botao {
    display: inline-block;
    padding: 1rem;
    background-color: #CAD5BE;
    border-radius: 1rem;
    text-align: center;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: #939f87;
}


.botoes-lado-a-lado {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
    width: 100%;
    gap: 2rem;
}

img[alt="icone de organizar"],
img[alt="icone de pendências"] {
    height: 40%;
    width: 40%; 
}


img[alt="gráfico das estatísticas por categorias"] {
    border: none;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 100vw;
    height: 12%;
    right: auto;
    flex-wrap: nowrap;
    background-color: #CAD5BE;
}

footer .botao {
    border: none;
}

footer img {
    width: auto;
    height: 90% ;
}

.icones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.icones li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones img {
    width: 80px;
    height: auto;
    transition: transform 0.2s;
}

.atencao {
    color: #E06823;
    font-weight: bold;
    text-align: center;
    margin: 0 2rem;
    font-size: 100%;
}

h2.atencao {
    font-size: 200%;
    margin: 0;
}

.inputs-lado-a-lado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

label {
    font-size: 120%;
    margin: 2rem;
}

.titulo-adicionar {
    font-size: 200%;
    margin: 2rem;
}

h2.estatisticas {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

img[alt="Gráfico anual de despesas e receitas"] {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}

img[alt="gráfico de pizza representando as categorias de gastos"] {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.textos-estatisticas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 100%;
    justify-items: flex-start;
    font-family: "Inter", sans-serif;
}

.botoes-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.faltam {
    font-weight: bold;
    color: #E06823;
}